body{
text-align: center;
}


.heading
{
    background-color: blue;
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
  font-size: 25px;
  color: white;
}
.heading_div
{
  background: white ; 
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
  float:none;
  padding: 10px;
  font-size: 18px ;
}

.heading:hover{
    color: white;
    background-color: darkmagenta;
}

.heading_div2
{
  font-size: 18px ;
}

img{
   width: 150px;
   height: 100px; 
}

hr{
    background-color: white;
}

h2{
    color: white;
}